.body{
    height: 100%;
}

.bg-ocean{
    background-color: #54d2d2;
}

.bg-griy{
    background-color: #FFD7AB;
}

.bg-purle{
    background-color: #CD819A;
}

.text-purple{
    color: #AB62B2;
}

.line-sparate{
    border-top: 1px solid black;
    width: auto;
}

.fixed{
    position:fixed;
}

.top-10{
    top: 8rem;
}

.right-2{
    right: 1rem;
}

.active{
    background-color: #666;
    color: white;
}

.w-screen{
    width:100%;
}

.w-44{
    width:55rem;
}

.w-40{
    width:35rem;
}

.w-30{
    width:20rem;
}

.w-20{
    width:10rem;
}

.w-10{
    width:5rem;
}

.w-5{
    width:2.5rem;
}

.h-5{
    height:2.5rem;
}

.h-44{
    height:32rem;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto; 
}

.content-end{
    float:right;
}

.pt-20{
    padding-top: 16rem;
}

.mt-20{
    margin-top: 16rem;
}

.mt-10{
    margin-top: 10rem;
}

.mb-10{
    margin-bottom: 10rem;
}

.none-style{
    list-style-type: none;
}

@media screen and (max-width: 600px){

    .w-44{
        width:100%;
    }
    
    .w-40{
        width:20rem;
    }
    
    .w-30{
        width:10rem;
    }
    
    .w-20{
        width:10rem;
    }
    
    .w-10{
        width:5rem;
    }

    .h-44{
        height:24rem;
    }
    
}

.border-ocean{
    border-color: #54d2d2;
    border-style: solid;
}

.bg-blues{
    background-color: #10B3AA;
}

.gradient-text {
    color: transparent;
    background: conic-gradient(
      #D9D7F1 12%, 
      #e74645 12%, #BAABDA 33%, 
      #fb7756 33%, #E7FBBE 55%, 
      #18AC9F 55%, #FFCBCB 70%, 
      #B5DEFF 70%, #B5DEFF 87%, 
      #1ac0c6 87%);
    background-size: 10%;
    background-clip: text;  
    -webkit-background-clip: text;
}

.crystal {
    background: linear-gradient(45deg, rgba(120, 120, 250, 0.5) 10%, transparent 10%),
      linear-gradient(65deg, transparent 70%, rgba(120, 120, 250, 0.5) 70%),
      linear-gradient(15deg, rgba(120, 120, 250, 0.5) 80%, transparent 80%),
      linear-gradient(25deg, rgba(120, 120, 250, 0.5) 30%, transparent 30%),
      linear-gradient(-35deg, rgba(120, 120, 250, 0.5) 50%, transparent 50%),
      rgba(120, 120, 250, 0.5);
}

.h-full{
    height: 100%;
}


