body{
    background-color: snow;
}

.hide {
    display: none;
    /* opacity: 0;
    transition: all 1s ease; */
}

.show {
    display: block;
    /* opacity: 1;
    transition: all 1s ease; */
}

.form-control:hover{
    background-color: snow;
}

.soft-black {
    background-color: #414a4c;
}

.col-table-small{
    width: 10px;
}

.col-table-medium{
    width: 100px;
}

.col-table-large{
    width: 700px;
}

.table-radius{
    border-radius: 10px;
    overflow: hidden;
}

.modal-bg {
    opacity:0.5 !important;
}

.animate-pop {
    animation-duration: 2s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  }

  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  #lihat-gambar:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    opacity: 0.7;
  }

